<div class="row">
  <%= form_for patient, html: {class: 'form-horizontal'} do |f| %>
    <% if patient.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

        <ul>
        <% patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
        <%= f.label :name, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group">
        <%= f.label :dob, class: 'control-label' %><br>
      <div class="controls">
        <%= f.date_field :dob %>
      </div>
    </div>

    <div class="control-group">
        <%= f.label :address, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_area :address %>
      </div>
    </div>

    <div class="control-group">
        <%= f.label :phone, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :phone %>
      </div>
    </div>

    <div class="control-group">
        <%= f.label :date, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :date %>
      </div>
    </div>

    <div class="control-group">
        <%= f.label :infection, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_area :infection %>
      </div>
    </div>

    <div class="control-group">
        <%= f.label :injury, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_area :injury %>
      </div>
    </div>

    <div class="control-group">
        <%= f.label :observations, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_area :observations %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</div>