<!DOCTYPE html>
<html>
  <head>
    <title>SmartClinic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar navbar-default">
<div class="container">
		<ul class="nav nav-tabs">
		  <li><%= link_to "Smart-Clinic@NCI", root_path, class: "navbar-brand" %></li>
		 
		  <ul class="nav navbar-nav navbar-right ">
			
			<% if user_signed_in? %>
				
				<li><%= link_to "Patients", patients_path %></li>
		  		<li><%= link_to "Hospitals", hospitals_path %></li>
				<li><%= link_to 'Add New Patient', new_patient_path %>
			<% end %>

			<% if current_user %>
			  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to "Sign Up", new_user_registration_path %></li>
				<li><%= link_to "Log In", new_user_session_path %></li>
			<% end %>
		  </ul>
  		</ul>

		<% if flash[:notice] %>
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= flash[:notice] %>
			</div>
		<% elsif flash[:error] %>
			<div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= flash[:error] %>
			</div>
		<% elsif flash[:alert] %>
			<div class="alert">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<%= flash[:alert] %>
			</div>
		  <% end %>
      
      </div>
      </nav>

      <div class="container">
    <%= yield %>
</div>
    </body>
  </html>
